.item {
  display: flex;
  gap: 10px;
  align-items: center;

  padding: 5px;

  max-width: 200px;
  border: 1px solid black;
  border-radius: 10px;
}

.container {
  max-width: 150px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.button {
  border: none;
  height: 30px;
  border-radius: 5px;
}
